@{
    ViewBag.Title = "DeleteItem";
}
@{
    Layout = null;
}

@model OSP.Models.Item

<h1 style="font-family: Lucida Handwriting"><b>Delete Item</b></h1>
<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7; IE=EmulateIE9">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no" />

    <link href="~/Content/file3/style.css" rel="stylesheet" />
    <link href="~/Content/file3/demo.css" rel="stylesheet" />
</head>
<body>
    <div class="form">
        <form id="contactform" action="/Admin/DelItem">
            <p class="contact"><label for="code">Code</label></p>
            <input id="Code" name="Code" placeholder="Enter Code of Item" required="" tabindex="1" type="text">


            <input class="buttom" name="Delete" id="submit" tabindex="5" value="Delete Item!" type="submit">




        </form>
    </div>

</body>
</html>

