@{
    ViewBag.Title = "AboutUs";
}

<!DOCTYPE html>
<html>
<body>
    <h1 style="font-family: Lucida Handwriting"><b><i></i></b>Shop Hijabs</h1>
    <h2 style="font-family: Lucida Handwriting"><b><i></i></b>About Us</h2>
    <div>
        <p style="font-family: Calibri"><b>We provide a large variety of hijabs,underscarves and other accessories all over the country.<br/><br/>Orders are placed online and the products are delievered to the customer's respective addresses.<br/><br/> The cash is taken on delievry.</b><br /><br /></p>

    </div>


</body>

</html>





