@{
    ViewBag.Title = "ContactUs";
}
<!DOCTYPE html>
<body>
    <h1 style="font-family: Lucida Handwriting"><b><i></i></b>Shop Hijabs</h1>
    <h2 style="font-family: Lucida Handwriting"><b><i></i></b>Contact Us on</h2>
    <div>
        <p style="font-family: Calibri"><b>Email: ammara.tariq657@gmail.com</b><br /><br /><b>Mobile Number: 0331-4856899</b><br /><br /></p>

    </div>
   

</body>

    

