@{
    ViewBag.Title = "Hijab";
}

<h1 style="font-family:Lucida Handwriting">Hijabs </h1>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Hijab</title>
    <!-- Bootstrap Core CSS -->
    <link href="~/Content/file4/bootstrap.min.css" rel="stylesheet" />

    <!-- Custom CSS -->
    <link href="~/Content/file4/thumbnail-gallery.css" rel="stylesheet" />
    <link href="~/Content/file4/bootstrap.css" rel="stylesheet" />
   
</head>
<body>

  
    <div class="container">
        <div class="row">
 
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a class="thumbnail">


                    <img src="~/Content/pics/4.jpg" style="width:400px;height:400px"  />
                </a>
                <div class="caption">
                    <h2 class="pull-right">Rs.1400</h2>
                    <h2>
                        <a href="/Customer/Cart">Add to cart</a>
                    </h2>
                    <p>Skin jersey cap with black net scarf.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a class="thumbnail" href="#">

                    <img src="~/Content/pics/5.jpg" style="width:400px;height:400px" />
                </a>
                <div class="caption">
                    <h2 class="pull-right">Rs.1500</h2>
                    <h2>
                        <a href="#">Add to cart</a>
                    </h2>
                    <p>Dark green cap with light green dotted jorjat scarf.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a class="thumbnail" href="#">

                    <img src="~/Content/pics/6.jpg" style="width:400px;height:400px" />
                </a>
                <div class="caption">
                    <h2 class="pull-right">Rs.1700</h2>
                    <h2>
                        <a href="#">Code:702</a>
                    </h2>
                    <p>Shimmer Aqua Marine (Net) with Aqua Marine Shimmer Chiffon; Hoody Style with elegant loops to wrap around,Golden Cap.</p>
                </div>
            </div>
           
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a class="thumbnail" href="#">

                    <img src="~/Content/pics/9.jpg" style="width:400px;height:400px" />
                </a>
                <div class="caption">
                    <h2 class="pull-right">Rs.1500</h2>
                    <h2>
                        <a href="#">Code:703</a>
                    </h2>
                    <p>Printed soft net in pink and black with plain black chiffon.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a class="thumbnail" href="#">

                    <img src="~/Content/pics/10.jpg" style="width:400px;height:400px" />
                </a>
                <div class="caption">
                    <h2 class="pull-right">Rs.1550</h2>
                    <h2>
                        <a href="#">Code:704</a>
                    </h2>
                    <p>Soft Net Maroon with Cotton jersey Cap .</p>
                </div>
            </div>
            
            </div>
        </div>
        <hr>
        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; ShopHijabs</p>
                </div>
            </div>
        </footer>
    <!-- /.container -->
    <!-- jQuery -->
    <script src="~/Content/file4/jquery.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="~/Content/file4/bootstrap.min.js"></script>
    <script src="~/Content/file4/bootstrap.js"></script>
</body>
</html>
