@{
    ViewBag.Title = "Underscarves";
}


<h1 style="font-family:Lucida Handwriting">Underscarves</h1>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content=""> 
    <meta name="author" content="">
    <title>Underscarves</title>
    <!-- Bootstrap Core CSS -->
    <link href="~/Content/file4/bootstrap.min.css" rel="stylesheet" />

    <!-- Custom CSS -->
    <link href="~/Content/file4/thumbnail-gallery.css" rel="stylesheet" />
    <link href="~/Content/file4/bootstrap.css" rel="stylesheet" />
   
</head>
<body>


    <div class="container">
        <div class="row">

            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a class="thumbnail">

                    <img src="~/Content/pics/7.jpg" style="width:400px;height:400px" />
                </a>
                <div class="caption">
                    <h2 class="pull-right">Rs.300</h2>
                    <h2>
                        <a href="#">Code:101</a>
                    </h2>
                    <p><b>Black Underscarf.</b></p>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a class="thumbnail" href="#">

                    <img src="~/Content/pics/15.jpg" style="width:400px;height:400px" />
                </a>
                <div class="caption">
                    <h2 class="pull-right">Rs.300</h2>
                    <h2>
                        <a href="#">Code:102</a>
                    </h2>
                    <p><b>Blue Underscarf.</b></p>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a class="thumbnail" href="#">

                    <img src="~/Content/pics/16.JPG" style="width:400px;height:400px" />
                </a>
                <div class="caption">
                    <h2 class="pull-right">Rs.800</h2>
                    <h2>
                        <a href="#">Code:103</a>
                    </h2>
                    <p><b>Stylish pair of underscarves,black and purple.</b></p>
                </div>
            </div>

            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a class="thumbnail" href="#">

                    <img src="~/Content/pics/17.jpg" style="width:400px;height:400px" />
                </a>
                <div class="caption">
                    <h2 class="pull-right">Rs.400</h2>
                    <h2>
                        <a href="#">Code:104</a>
                    </h2>
                    <p><b>Rose pink underscarf cap.</b></p>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a class="thumbnail" href="#">

                    <img src="~/Content/pics/18.jpg" style="width:400px;height:400px" />
                </a>
                <div class="caption">
                    <h2 class="pull-right">Rs.900</h2>
                    <h2>
                        <a href="#">Code:105</a>
                    </h2>
                    <p> <b>three net underscarf caps...skin,purple and blue .</b></p>
                </div>
            </div>

        </div>
    </div>
    <hr>
    <!-- Footer -->
    <div>
    <footer>
        <div class="row">
            <div class="col-lg-12">
                <p>Copyright &copy; ShopHijabs</p>
            </div>
        </div>
    </footer>
    </div>
    <!-- /.container -->
    <!-- jQuery -->
    <script src="~/Content/file4/jquery.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="~/Content/file4/bootstrap.min.js"></script>
    <script src="~/Content/file4/bootstrap.js"></script>
</body>
</html>


